<!DOCTYPE html>
<html lang="en">
<head>
  <title>Degree 4 Free</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<div class="container-fluid">
  <h2>Degree 4 Free</h2>
  <h2><small class="subtitle">Share and use educational models</small></h2>
  <hr>

  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;">menu column</div>
    <div class="col-sm-10" style="background-color:white;"> 

   		<div class="page-header">
 			<h1>Create a new file</h1>
		</div>

		<div id="editor">
			 <p>Hello World!</p>
			 <p>Some initial <strong>bold</strong> text</p>
			 <p><br></p>
		</div>

		
    </div>
  </div>



</div>

<script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>